# Make sure to change pdns/pdns.conf as well when changing these
export DB_NAME="pdns"
export DB_USER="pdns"
export DB_PASSWORD="superSecret"
export DB_ROOT_PASSWORD="superRootSecret"

# PowerDNS
export API_KEY="superAdminKeySecret"
export ZONE="lan"

# PowerDNS Admin
export ADMIN_DB_NAME="pdns_admin"

# Incus
export DNSCRYPT_IPV4_ADDRESS="10.1.2.2"
export PDNS_IPV4_ADDRESS="10.1.2.5"
export ADMIN_IPV4_ADDRESS="10.1.2.6"
export NETWORK="incusbr0"
export NET_EXTERNAL="true"
export IPV4_NETMASK="23"
export IPV4_GATEWAY="10.1.2.1"
